.card {
	width: 400px;
	height: 600px;
	border-radius: 15px;
	background: none repeat scroll 0 0 #FFFFFF;
}
.card__header {
	display: flex;
	justify-content: space-around;
	height: 100px;
	margin-bottom: 10px;
}
.card__header * {
	margin: 10px;
}
.card__header__title {
	font-size: 1rem;
	font-weight: 900;
}
.card__header__description {
	font-size: 0.6rem;
}
.card__content {
}
